<!DOCTYPE html>
<html lang="en" >

<head>
<title>Wells Fargo Analytics App</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.css'>
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.36.0/css/timeline.css'>
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.rawgit.com/Gmousse/dataframe-js/master/dist/dataframe-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

<!-- Main JS that handles user interaction and sending/receiving data from views.py and csv files -->
<script type="text/javascript">
$(document).ready(function() {

// Search term 1 Custom Search
$(document).on('click','#ChangeSearchTerm1',function(){
	// Display console message
	$('#console').animate({opacity:0},function(){
        	$(this).text("Updating Search Term")
            .animate({opacity:1});  
	});
	
	// Send clicked related keyword term to views.py/updateSearchTerm1()
	$.get('/dashboard/updateSearchTerm1', {'NewSearchTerm': $(this).text()}, function(data) {
      	
      	// Get rid of current plots 
      	Plotly.purge(myDiv11);
		Plotly.purge(myDiv12);
		
		// Plotly interest by region
    	Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1.csv' %}", function(err, rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }
      
      console.log(rows);

      var data1 = [{
          type: 'choropleth',
          locationmode: 'USA-states',
          locations: unpack(rows, 'code'),
          z: unpack(rows, data['item1']),
          text: unpack(rows, 'index'),
          zmin: 0,
          zmax: 100,
          colorscale: [
              [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
              [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
              [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
          ],
          colorbar: {
              title: 'Relative interest',
              thickness: 1.0
          },
          marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
      }];

      var layout = { 
          title: "Google Search interest by subregion, United States, past 12 months: " + data['item1'],
          geo: {
              scope: 'usa',
              showlakes: true,
              lakecolor: 'rgb(255,255,255)'
          }
      };

      Plotly.plot(myDiv11, data1, layout, {showLink: false});
		});	
		
		// Plotly interest over time
		Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1Interest.csv' %}", function(err, rows){

  function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}

console.log(rows);


var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'AAPL High',
  x: unpack(rows, 'date'),
  y: unpack(rows, data['item1']),
  line: {color: '#17BECF'}
}

var data12 = [trace1];

var layout = {
  title: "Google Search interest over past 12 months, United States: " + data['item1'],
};

Plotly.newPlot('myDiv12', data12, layout);
});

		// Display console message
		$('#console').animate({opacity:0},function(){
        	$(this).text("Results Ready")
            .animate({opacity:1});  
		});
	});
});

// Search term 1 Related Search
$(document).on('click','#search1btn',function(){
	// Display console message
	$('#console').animate({opacity:0},function(){
        	$(this).text("Updating Search Term")
            .animate({opacity:1});  
	});
	
	// Send search custom search term to views.py/updateSearchTerm1()
	$.get('/dashboard/updateSearchTerm1', {'NewSearchTerm': search1.value}, function(data) {
      	
      	// Get rid of current plots 
      	Plotly.purge(myDiv11);
		Plotly.purge(myDiv12);
		
		// Plotly interest by region
    	Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1.csv' %}", function(err, rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }
      
      console.log(rows);

      var data1 = [{
          type: 'choropleth',
          locationmode: 'USA-states',
          locations: unpack(rows, 'code'),
          z: unpack(rows, data['item1']),
          text: unpack(rows, 'index'),
          zmin: 0,
          zmax: 100,
          colorscale: [
              [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
              [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
              [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
          ],
          colorbar: {
              title: 'Relative interest',
              thickness: 1.0
          },
          marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
      }];

      var layout = { 
          title: "Google Search interest by subregion, United States, past 12 months: " + data['item1'],
          geo: {
              scope: 'usa',
              showlakes: true,
              lakecolor: 'rgb(255,255,255)'
          }
      };

      Plotly.plot(myDiv11, data1, layout, {showLink: false});
		});	
		
		// Plotly interest over time
		Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1Interest.csv' %}", function(err, rows){

  function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}

console.log(rows);


var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'AAPL High',
  x: unpack(rows, 'date'),
  y: unpack(rows, data['item1']),
  line: {color: '#17BECF'}
}

var data12 = [trace1];

var layout = {
  title: "Google Search interest over past 12 months, United States: " + data['item1'],
};

Plotly.newPlot('myDiv12', data12, layout);
});

		// Update related search terms
		$('#myDiv13').html(data['myDiv13']);
		
		// Display console message
		$('#console').animate({opacity:0},function(){
        	$(this).text("Results Ready")
            .animate({opacity:1});  
		});
	});
});

// Display console messages upon page loading
$('#console').animate({opacity:0},function(){
        $(this).text("Welcome")
            .animate({opacity:1}, 2000, 'swing');
            success:$('#console').animate({opacity:0},function(){
        			$(this).text("To get started, please enter your asset details")
            		.animate({opacity:1}, 2000, 'swing'); 
					});
});

// As soon as page loads, populate category dropdown list
$.get('/dashboard/populatedropdowns', {}, function(data) {
      	$('#Category').html(data['0']);
});

// Get data upon selecting data and clicking get results  
$('#get_results').click(function() {

		// Clear current plots
		Plotly.purge(myDiv11);
		Plotly.purge(myDiv12);
		Plotly.purge(myDiv);
        Plotly.purge(myDiv_hist);
		
		// Get data from user selection
        var IncludeMileage = $('#IncludeMileage').is(":checked");
        var UseTable = $('#UseTable').is(":checked");
        var Cat = $('#Category').val();
        var Duty = $('#Dutytype').val();
        var Make = $('#Make').val();
        var Model = $('#Model').val();
        var Year = $('#Year').val();
        var YearRangeEnd = $('#YearRangeEnd').val();

<!--        console.log(IncludeMileage, Cat, Duty, Make, Model, Year, YearRangeEnd)-->

        // Added by Kyle
<!--        var IncludeMileage = true-->
<!--        var Cat = "Tractors"-->
<!--        var Duty = "Conventional"-->
<!--        var Make = "CHEVROLET"-->
<!--        var Model = ""-->
<!--        var Year = ""-->
<!--        var YearRangeEnd = ""-->

    	// Display console message
    	$('#console').animate({opacity:0},function(){
        	$(this).text("Fetching location data from database...")
            .animate({opacity:1});  
			});
			
     	// Send data to views.py/getData()
        $.get('/dashboard/getData', {'IncludeMileage':IncludeMileage,'UseTable':UseTable, 'YearRangeEnd':YearRangeEnd,'Cat': Cat,'Duty': Duty, 'Make': Make, 'Model':Model,'Year':Year}, function(data) {
      	
      	// Check Error string and deal with errors as necessary
      	var Err = data['Error']
      	// Data query too general
      	if(Err == 'TooGeneral'){
      	$('#console').animate({opacity:0},function(){
        	$(this).text("Too much data, please refine your search.")
            .animate({opacity:1});  
		});
		return false;
      	};
      	// No data from query
      	if(Err == 'NoData'){
      	$('#console').animate({opacity:0},function(){
        	$(this).text("All Hours/Mileage entries are null valued.. Please unselect the Mileage/hours checkbox")
            .animate({opacity:1});  
		});
		return false;
      	};
      	
      	// Update table body with HTML string of all rows of data, as well as the AVG data, and filtered assets paragraph below table
      	$('#TableData').html(data['0']);
      	$('#TableDataAvg').html(data['1']);
      	$('#FilteredAssets').html(data['FilteredAssets']);
      	
      	// Display console message saying the location data is ready, now fetching google trend data
      	$('#console').animate({opacity:0},function(){
        $(this).text("Location Data Ready")
            .animate({opacity:1}, 2000, 'swing');
            success:$('#console').animate({opacity:0},function(){
        			$(this).text("Fetching Google Trend data...")
            		.animate({opacity:1}, 2000, 'swing'); 
					});
		});
     
   	 	// Get selected TableDataRankBy value	
		var TableDataRankBy = $('#MapDataRankBy').val(); 
	
		// Plot map data 
    	Plotly.d3.csv("{% static 'dashboard/csv/MapData.csv' %}", function(err, rows){

    function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
    }
    function unpack1(rows, key) {
        return rows.map(function(row) { return [row[''],' ' + row[key]]; });
    }
    
    //df = pd.read_csv("{% static 'dashboard/csv/MapData.csv' %}")
    //console.log(df.head())

    var scl = [[0,'rgb(128,0,0)'],[0.35,'rgb(178,34,34)'],[0.5,'rgb(205,92,92)'], [0.6,'rgb(255,99,71)'],[0.7,'rgb(255,160,122)'],[1,'rgb(233,150,122)']];

    var data2 = [{
        type:'scattergeo',
        locationmode: 'USA-states',
        lon: unpack(rows, 'long'),
        lat: unpack(rows, 'lat'),
        hoverinfo: "text",
        text: unpack1(rows, TableDataRankBy),
        mode: 'markers',
        marker: {
            size: 20,
            opacity: 0.8,
            reversescale: true,
            autocolorscale: false,
            symbol: 'circle',
            line: {
                width: 1,
                color: 'rgb(255,255,255)'
            },
            colorscale: scl,
            cmin: 0,
            color: unpack(rows, TableDataRankBy),
            colorbar: {
                title: 'Locations ranked by ' + TableDataRankBy
            }
        }
    }];


    var layout = {
        title: 'Asset Selling Locations',
        colorbar: true,
        geo: {
            scope: 'usa',
            projection: {
                type: 'albers usa'
            },
            showland: true,
            landcolor: 'rgb(250,250,250)',
            subunitcolor: 'rgb(217,217,217)',
            countrycolor: 'rgb(217,217,217)',
            countrywidth: 0.5,
            subunitwidth: 0.5
        }
    };

    Plotly.plot(myDiv, data2, layout, {showLink: false});

});

// Histogram Plots

var HistDataRankBy = $('#HistDataRankBy').val();

Plotly.d3.csv("{% static 'dashboard/csv/HistData.csv' %}", function(err, rows){

function unpack(rows, key) {
return rows.map(function(row) { return row[key]; });
}
function unpack1(rows, key) {
return rows.map(function(row) { return [row[''],' ' + row[key]]; });
}

//df = pd.read_csv("{% static 'dashboard/csv/MapData.csv' %}")
//console.log(df.head())

<!--var scl = [[0,'rgb(128,0,0)'],[0.35,'rgb(178,34,34)'],[0.5,'rgb(205,92,92)'], [0.6,'rgb(255,99,71)'],[0.7,'rgb(255,160,122)'],[1,'rgb(233,150,122)']];-->
<!---->
<!--var data2 = [{-->
<!--type:'scattergeo',-->
<!--locationmode: 'USA-states',-->
<!--lon: unpack(rows, 'long'),-->
<!--lat: unpack(rows, 'lat'),-->
<!--hoverinfo: "text",-->
<!--text: unpack1(rows, TableDataRankBy),-->
<!--mode: 'markers',-->
<!--marker: {-->
<!--size: 20,-->
<!--opacity: 0.8,-->
<!--reversescale: true,-->
<!--autocolorscale: false,-->
<!--symbol: 'circle',-->
<!--line: {-->
<!--width: 1,-->
<!--color: 'rgb(255,255,255)'-->
<!--},-->
<!--colorscale: scl,-->
<!--cmin: 0,-->
<!--color: unpack(rows, TableDataRankBy),-->
<!--colorbar: {-->
<!--title: 'Locations ranked by ' + TableDataRankBy-->
<!--}-->
<!--}-->
<!--}];-->
<!---->
<!---->
<!--var layout = {-->
<!--title: 'Asset Selling Locations',-->
<!--colorbar: true,-->
<!--geo: {-->
<!--scope: 'usa',-->
<!--projection: {-->
<!--type: 'albers usa'-->
<!--},-->
<!--showland: true,-->
<!--landcolor: 'rgb(250,250,250)',-->
<!--subunitcolor: 'rgb(217,217,217)',-->
<!--countrycolor: 'rgb(217,217,217)',-->
<!--countrywidth: 0.5,-->
<!--subunitwidth: 0.5-->
<!--}-->
<!--};-->

<!--Plotly.plot(myDiv_hist, data2, layout, {showLink: false});-->

var x = [];
for (var i = 0; i < 500; i ++) {
x[i] = Math.random();
}

<!--Milliseconds that make one bin per day. If you want one bin per year do dailyBins*365-->
var dailyBins = 86400000.0

var trace = {
histfunc: HistDataRankBy,
x: unpack(rows, 'SaleDate'),
y: unpack(rows, 'SalesPrice'),
<!--x: x,-->
type: 'histogram',
autobinx: false,
xbins: {
<!--end: 4,-->
<!--size: 4980000000000000-->
size: dailyBins*14
<!--size: 0.01-->
<!--start: -3.2-->
}

};
var data = [trace];
<!--Plotly.newPlot('myDiv_hist', data);-->
Plotly.plot(myDiv_hist, data);


});
		
		// Get Google Trend data by sending selected data inputs to views.py/getGoogleTrends()
		$.get('/dashboard/getGoogleTrends', {'Cat': Cat,'Duty': Duty, 'Make': Make, 'Model':Model,'Year':Year}, function(trenddata) {
    	
    	// Plotly interest by region plot
    	Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1.csv' %}", function(err, rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }

      var data1 = [{
          type: 'choropleth',
          locationmode: 'USA-states',
          locations: unpack(rows, 'code'),
          z: unpack(rows, trenddata['item1']),
          text: unpack(rows, 'index'),
          zmin: 0,
          zmax: 100,
          colorscale: [
              [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
              [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
              [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
          ],
          colorbar: {
              title: 'Relative interest',
              thickness: 1.0
          },
          marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
      }];


      var layout = { 
          title: "Google Search interest by subregion, United States, past 12 months: " + trenddata['item1'],
          geo: {
              scope: 'usa',
              showlakes: true,
              lakecolor: 'rgb(255,255,255)'
          }
      };

      Plotly.plot(myDiv11, data1, layout, {showLink: false});
		});	
		
		// Plotly interest over time plot
		Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1Interest.csv' %}", function(err, rows){

  function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}


var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'AAPL High',
  x: unpack(rows, 'date'),
  y: unpack(rows, trenddata['item1']),
  line: {color: '#17BECF'}
}

var data1 = [trace1];

var layout = {
  title: "Google Search interest over past 12 months, United States: " + trenddata['item1'],
};

Plotly.newPlot('myDiv12', data1, layout);
});

		// Display list of related search terms
		$('#myDiv13').html(trenddata['myDiv13']);
		
		// Display console message saying Results Ready
    	$('#console').animate({opacity:0},function(){
        	$(this).text("Results Ready")
            .animate({opacity:1});  
		});
    	
		});

      	});
});

// Update table data upon changing sort method
$("#TableDataRankBy").change(function () {
		var TableDataRankBy = $('#TableDataRankBy').val(); 
		$.get('/dashboard/updatetabledata', {'TableDataRankBy': TableDataRankBy}, function(data) {
      	$('#TableData').html(data['0']);
      	$('#BasketData').html(data['1']);
    	});
});

// Update Map data upon changing sort method
$("#MapDataRankBy").change(function () {
	var TableDataRankBy = $('#MapDataRankBy').val(); 
	$('#console').animate({opacity:0},function(){
        	$(this).text("Updating Map Data")
            .animate({opacity:1});  
		});
        
// Added by Kyle: (What are these lines doing exactly?)
// Update Map data upon changing sort method
$("#HistDataRankBy").change(function () {
var HistDataRankBy = $('#HistDataRankBy').val();
<!--$('#console').animate({opacity:0},function(){-->
<!--$(this).text("Updating Map Data")-->
<!--.animate({opacity:1});-->
});
	
    Plotly.d3.csv("{% static 'dashboard/csv/MapData.csv' %}", function(err, rows){

    function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
    }
    function unpack1(rows, key) {
        return rows.map(function(row) { return [row[''],' ' +  row[key]]; });
    }
    
    //df = pd.read_csv("{% static 'dashboard/csv/MapData.csv' %}")
    //console.log(df.head())

    var scl = [[0,'rgb(128,0,0)'],[0.35,'rgb(178,34,34)'],[0.5,'rgb(205,92,92)'], [0.6,'rgb(255,99,71)'],[0.7,'rgb(255,160,122)'],[1,'rgb(233,150,122)']];

    var data2 = [{
        type:'scattergeo',
        locationmode: 'USA-states',
        lon: unpack(rows, 'long'),
        lat: unpack(rows, 'lat'),
        hoverinfo: "text",
        text: unpack1(rows, TableDataRankBy),
        mode: 'markers',
        marker: {
            size: 20,
            opacity: 0.8,
            reversescale: true,
            autocolorscale: false,
            symbol: 'circle',
            line: {
                width: 1,
                color: 'rgb(255,255,255)'
            },
            colorscale: scl,
            cmin: 0,
            color: unpack(rows, TableDataRankBy),
            colorbar: {
                title: 'Locations ranked by ' + TableDataRankBy
            }
        }
    }];


    var layout = {
        title: 'Asset Selling Locations',
        colorbar: true,
        geo: {
            scope: 'usa',
            projection: {
                type: 'albers usa'
            },
            showland: true,
            landcolor: 'rgb(250,250,250)',
            subunitcolor: 'rgb(217,217,217)',
            countrycolor: 'rgb(217,217,217)',
            countrywidth: 0.5,
            subunitwidth: 0.5
        }
    };
	
	Plotly.purge(myDiv);
    Plotly.plot(myDiv, data2, layout, {showLink: false});

});

});

// Populate dutytype dropdown list upon selecting a category
$("#Category").change(function () {
		var Category = $('#Category').val(); 
		var Dutytype = $('#Dutytype').val(); 
		var Make = $('#Make').val(); 
		var Model = $('#Model').val();
		var Year = $('#Year').val();
		if(TableDataRankBy != "Select Category"){
		
        $.get('/dashboard/populatedropdownsCat', {'Category': Category,'Dutytype': Dutytype,'Make': Make,'Model': Model,'Year': Year}, function(data) {
      	$('#Dutytype').html(data['0']);
      	$('#Make').html("");
      	$('#Model').html("");
      	$('#Year').html("");
      	$('#YearRangeEnd').html("");
    	});
    	};
    });
    
// Populate Makes, Models, and Years dropdown lists upon selecting a dutytype   
$("#Dutytype").change(function () {
		$('#console').animate({opacity:0},function(){
        		$(this).text("Loading Makes, Models, and Years...")
            .animate({opacity:1});  
			});	
		var Category = $('#Category').val(); 
		var Dutytype = $('#Dutytype').val(); 
		var Make = $('#Make').val(); 
		var Model = $('#Model').val();
		var Year = $('#Year').val();
		if(TableDataRankBy != "Select Dutytype"){
		
        $.get('/dashboard/populatedropdownsDuty', {'Category': Category,'Dutytype': Dutytype,'Make': Make,'Model': Model,'Year': Year}, function(data) {
      	$('#Make').html(data['0']);
      	$('#Model').html(data['1']);
      	$('#Year').html(data['2']);
      	$('#YearRangeEnd').html(data['2']);
  		$('#console').animate({opacity:0},function(){
        	$(this).text("Ready to Get Results")
            .animate({opacity:1});  
			});	
    	});
    	};
    });
    
// Populate Models and Years dropdown lists upon selecting a Make   
$("#Make").change(function () {
		var Category = $('#Category').val(); 
		var Dutytype = $('#Dutytype').val(); 
		var Make = $('#Make').val(); 
		var Model = $('#Model').val();
		var Year = $('#Year').val(); 
		if(TableDataRankBy != "Select Make"){
		
        $.get('/dashboard/populatedropdownsMake', {'Category': Category,'Dutytype': Dutytype,'Make': Make,'Model': Model,'Year': Year}, function(data) {
      	$('#Model').html(data['0']);
      	$('#Year').html(data['1']);
      	$('#YearRangeEnd').html(data['1']);
      	$('#Basket').html(data['2']);
    	});
    	};
    });
    
// Populate Years dropdown list upon selecting a Model   
$("#Model").change(function () {
		var Category = $('#Category').val(); 
		var Dutytype = $('#Dutytype').val(); 
		var Make = $('#Make').val(); 
		var Model = $('#Model').val();
		var Year = $('#Year').val(); 
		if(TableDataRankBy != "Select Model"){
		
        $.get('/dashboard/populatedropdownsModel', {'Category': Category,'Dutytype': Dutytype,'Make': Make,'Model': Model,'Year': Year}, function(data) {
      	$('#Year').html(data['0']);
      	$('#Basket').html(data['1']);
      	$('#YearRangeEnd').html(data['0']);
    	});
    	};
    });
});
</script>

<style>
body { 
padding-top: 70px; 
background-color: white !important;

}

tbody {
    display:block;
    height:200px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.vl {
    border-left: 1px solid white;
    height: 50px;
    position: fixed;
    left: 250px;
    top: 0;
}
.hl {
    border-bottom: 250px solid white;
    height: 1px;
    left: 0px;
    top: 50px;
    z-index: 1000;
}

/* Wells Fargo colour pallet */
.Teal{
	color: #0095C8 !important;
}
.DarkTeal{
	color: #00698C !important;
}
.Green{
	color: #46A033 !important;
}
.DarkGreen{
	color: #007337 !important;
}
.Orange{
	color: #ED8800 !important;
}
.DarkOrange{
	color: #CE4C00 !important;
}
.Plum{
	color: #702F8A !important;
}
.DarkPlum{
	color: #4D3B65 !important;
}
.Magenta{
	color: #AE2573 !important;
}
.DarkMagenta{
	color: #821861 !important;
}
.Ebony{
	color: #7A6855 !important;
}
.DarkEbony{
	color: #574537 !important;
}
.CoolGrayDark{
	color: #44464A !important;
}
.Black{
	color: #000000 !important;
}
.CoolGrayLight{
	color: #D9D9D6 !important;
}
.CoolGrayMedium{
	color: #BFC0BE !important;
}

</style>

</head>

<body>

<!-- Console (nav) bar-->
<nav class="navbar navbar-inverse navbar-fixed-top" style="border-bottom: 1px solid white;">
	<p style="margin:auto;position: fixed;color: white;left: 20px;font-size: 20px;padding-top: 10px;">Remarketing Dashboard</p>
    <div class="vl"></div>
    <p id="console" style="margin:auto;color: white;text-align:center;font-size: 20px;padding-top: 10px;padding-left: 250px;"></p>
</nav>

<!-- Data Entry -->
<div class="sidenav">
    <div class="row" style="padding: 10px;">
      <div class="col-lg-12">
        <h2 class="Teal">Selection<br><p class="CoolGrayLight" style="font-size: 15px;">Enter your asset details</p></h2>
      </div>
    </div>
    <div class="col" style="padding: 10px;">
      <div class="row-sm-2 Teal">Category: <select id="Category" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Dutytype: <select id="Dutytype" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Make: <select id="Make" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Model: <select id="Model" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Year: <select id="Year" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Year Range (Optional)<br>To: <select id="YearRangeEnd" class="dropdown-select"></select></div><br><br>
      <div class="row-sm-2 Teal"><p style="color:white">Data must include:</p>
      	<input checked id="IncludeMileage" type="checkbox" name="Hours" value="Hours"> Mileage/hours<br>
        <p style="color:white">Select if you want to update the table (can be slow):</p>
        <input checked id="UseTable" type="checkbox" name="QuickMode" value="QuickMode"> Update Table<br>
      </div>
    </div>
    <div class="row" style="padding: 10px;">
      <div class="col-lg-12">
        <button type="button" id="get_results" style="background-color:#0095C8 !important;color:white;" class="btn btn-lg btn-block">Get Results</button>
      </div>
    </div>
</div>

<!-- main page layout -->
<div class="main">
	<!-- main page additional wrapper -->
	<div style="width: 100% !important;background-color: white !important;padding: 0 20px 0 20px !important;">
    
    
    
<!-- Location Data Table -->
<h2 class="Plum" >Location Data Table<br><p class="CoolGrayDark" style="font-size: 15px;"></p></h2>
<div class="row">
 
      <div class="col-lg-12">
        <div style="border-color:#702F8A !important;color:black;" class="panel">
          <div style="background-color: #702F8A; color:white" class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Based on all past sales, determine which location is optimal for selling your assets.
          <div class="pull-right">
          	<div class="btn-group">

                <select id="TableDataRankBy" class="dropdown-select">
                	<option value="AvgPrice">Sort by Average Price</option>
  					<option value="TotalRev">Sort by Total Revenue</option>
  					<option value="AvgMil">Sort by Average Mileage</option>
  					<option value="AvgAge">Sort by Average Age</option>
  					<option value="HighSale">Sort by Highest Sale</option>
  					<option value="LowSale">Sort by Lowest Sale</option>
  					<option value="SoldAssets">Sort by Sold Assets</option>
				</select>
              </div>
          </div>
          </div>
          <div class="panel-body">
            <div class="table-responsive" style="display: inline-block;overflow-y: scroll;max-height:400px;">
            <table class="table table-hover" id="MyTableData">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Total Revenue ($)</th>
      <th scope="col">Avg Price ($)</th>
      <th scope="col">Avg Mileage or Hours</th>
      <th scope="col">Avg Age (years)</th>
      <th scope="col">Highest Sale Price, Month ($)</th>
      <th scope="col">Lowest Sale Price ($)</th>
      <th scope="col">Assets Sold</th>
    </tr>
    <tr id="TableDataAvg" ></tr>
  </thead>
  <tbody id="TableData">
  </tbody>
</table>
			</div>
          </div>
        </div>
      </div>
    </div>

<!-- Filtered assets text -->
<p id="FilteredAssets" style="text-align:center;margin: 0 auto;"></p>

<!-- Location Map View -->
<h2 class="Magenta" >Location Data Map View<br><p class="CoolGrayDark" style="font-size: 15px;"></p></h2>
<div class="row">
	<div class="col-lg-12">
    	<div style="border-color:#AE2573 !important;color:black;" class="panel">
        	<div style="background-color: #AE2573; color:white" class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Visualize the above location data
        	<div class="pull-right">
          	<div class="btn-group">
                <select id="MapDataRankBy" class="dropdown-select">
                	<option value="AvgPrice">Sort by Average Price</option>
  					<option value="TotalRev">Sort by Total Revenue</option>
  					<option value="AvgMil">Sort by Average Mileage</option>
  					<option value="AvgAge">Sort by Average Age</option>
  					<option value="HighSale">Sort by Highest Sale</option>
  					<option value="LowSale">Sort by Lowest Sale</option>
  					<option value="SoldAssets">Sort by Sold Assets</option>
				</select>
              </div>
          </div>
        	</div>
        <div class="panel-body">
        <div id="myDiv"></div>
		</div>
    </div>
</div>
</div>

<!-- Histogram -->
<h2 class="Magenta" >Histogram <br><p class="CoolGrayDark" style="font-size: 15px;"></p></h2>
<div class="row">
<div class="col-lg-12">
<div style="border-color:#AE2573 !important;color:black;" class="panel">
<div style="background-color: #AE2573; color:white" class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Visualize the above location data
<div class="pull-right">
<div class="btn-group">
<select id="HistDataRankBy" class="dropdown-select">
<option value="avg">Average Price</option>
<option value="sum">Total Revenue</option>
<option value="count">Number of Sales</option>
<option value="max">Max Value</option>
<option value="min">Min Value</option>
</select>
</div>
</div>
</div>
<div class="panel-body">
<div id="myDiv_hist"></div>
</div>
</div>
</div>
</div>


<!-- Google Search Trends -->
<h2 class="Orange" >Google Search Trends<br><p class="CoolGrayDark" style="font-size: 15px;"></p></h2>
<div class="row">
	<div class="col-lg-12">
    	<div style="border-color:#ED8800 !important;color:black;" class="panel">
        	<div style="background-color: #ED8800; color:white" class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Pick and choose an appropriate Google search term to understand the appetite for assets in each state, and over time</div>
        <div class="panel-body">
        <div id="myDiv11"></div>
        <div id="myDiv12"></div>
        <div id="myDiv13" style="text-align:center" class="btn-group" role="group"></div>
        <br>
        <br>
        <div style="text-align:center;">
    		<input type="search" id="search1" placeholder="Custom search"/>
    		<button id="search1btn" class="btn primary">Update search term</button>
		</div>
		</div>
    </div>
</div>
</div>






	</div>
</div>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.36.0/js/timeline-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</body>

</html>
