<!DOCTYPE html>
<html lang="en" >

<head>
<title>Wells Fargo Analytics App</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.css'>
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.36.0/css/timeline.css'>
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.rawgit.com/Gmousse/dataframe-js/master/dist/dataframe-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

<!-- leaflet map imports -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="{% static "dashboard/leaflet-timeline-slider.js" %}"></script>
<script src="{% static "dashboard/PruneCluster.js" %}"></script>

<!-- leaflet map functions, actual map/function use is at bottom of file -->
<script type="text/javascript">

function style(feature) {
		return {
				weight: 2,
				opacity: 0,
				fillOpacity: 0
		};
}

function mouseoverHighlight(e) {
 var layer = e.target;

 if (layer.options.color !== '#FFD700') {
	 layer.setStyle({
			 weight: 5,
			 color: '#666',
			 dashArray: '',
			 fillOpacity: 0.7
	 });
 }
}

function resetHighlight(e) {
	var layer = e.target;

	if (layer.options.color !== '#FFD700') {
			geojson.resetStyle(layer);
	}
}

var clickedStates = [];
function onStateClick(e) {
	var layer = e.target;
	layer.setStyle({
		weight: 5,
		color:'#FFD700',
		fillOpacity: 0.7
	});

	if (!clickedStates.includes(layer.feature.id)) {
			clickedStates.push(layer.feature.id);
	}
}

// highlights state on hover, resets highlighy on mouseout
function onEachFeature(feature, layer) {
	layer.on({
	 mouseover: mouseoverHighlight,
	 mouseout: resetHighlight,
	 click: onStateClick
	});
}

var timeslider = undefined;			//holds reference to slider which its added to the map in the $.get_results function
var cityCoords = {{ city_coords | safe }};		//used to geocode cities for map, passed from views.py on startup

// executed when slider position is changed
// label: label of slider notch, value: index of slider notch, map: location map, data: holds variable locDate
function refreshData({label, value, map, data}) {
	// remove old markers
	map.eachLayer(function (layer) {
		if (layer instanceof L.Marker) {
			map.removeLayer(layer);
		}
	});

	// cityCounts maps cities where item is sold in selected month to the # of sales that month
	var cityCounts = {};
	for (var i=0; i<data.saledate.length; i++) {
		if (data.saledate[i].slice(0,7) == label) {
			city = data.location[i].replace(',', '')
			if (cityCounts.hasOwnProperty(city)) {
				cityCounts[city] += 1;
			} else {
				cityCounts[city] = 1;
			}
		}
	}

	// makes list of markers for cities with sales in selected month
	var markerList = [];
	for (var i=0; i<Object.keys(cityCounts).length; i++) {
		city = Object.keys(cityCounts)[i];
		var marker = new L.Marker(cityCoords[city]);
		marker.bindPopup(city.concat("<br>Number Sold: ", cityCounts[city].toString()))	// popup that appears on marker hover
		marker.on('mouseover', function (e) {
					 this.openPopup();
			 });
		 marker.on('mouseout', function (e) {
				 this.closePopup();
		 });
		markerList.push(marker);
	}
	L.featureGroup(markerList).addTo(map);
}
</script>

<!-- Main JS that handles user interaction and sending/receiving data from views.py and csv files -->
<script type="text/javascript">
$(document).ready(function() {

// Search term 1 Custom Search
$(document).on('click','#ChangeSearchTerm1',function(){
	// Display console message
	$('#console').animate({opacity:0},function(){
        	$(this).text("Updating Search Term")
            .animate({opacity:1});
	});

	// Send clicked related keyword term to views.py/updateSearchTerm1()
	$.get('/dashboard/updateSearchTerm1', {'NewSearchTerm': $(this).text()}, function(data) {

      	// Get rid of current plots
      	Plotly.purge(myDiv11);
		Plotly.purge(myDiv12);

		// Plotly interest by region
    	Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1.csv' %}", function(err, rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }

      console.log(rows);

      var data1 = [{
          type: 'choropleth',
          locationmode: 'USA-states',
          locations: unpack(rows, 'code'),
          z: unpack(rows, data['item1']),
          text: unpack(rows, 'index'),
          zmin: 0,
          zmax: 100,
          colorscale: [
              [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
              [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
              [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
          ],
          colorbar: {
              title: 'Relative interest',
              thickness: 1.0
          },
          marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
      }];

      var layout = {
          title: "Google Search interest by subregion, United States, past 12 months: " + data['item1'],
          geo: {
              scope: 'usa',
              showlakes: true,
              lakecolor: 'rgb(255,255,255)'
          }
      };

      Plotly.plot(myDiv11, data1, layout, {showLink: false});
		});

		// Plotly interest over time
		Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1Interest.csv' %}", function(err, rows){

  function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}

console.log(rows);


var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'AAPL High',
  x: unpack(rows, 'date'),
  y: unpack(rows, data['item1']),
  line: {color: '#17BECF'}
}

var data12 = [trace1];

var layout = {
  title: "Google Search interest over past 12 months, United States: " + data['item1'],
};

Plotly.newPlot('myDiv12', data12, layout);
});

		// Display console message
		$('#console').animate({opacity:0},function(){
        	$(this).text("Results Ready")
            .animate({opacity:1});
		});
	});
});

// Search term 1 Related Search
$(document).on('click','#search1btn',function(){
	// Display console message
	$('#console').animate({opacity:0},function(){
        	$(this).text("Updating Search Term")
            .animate({opacity:1});
	});

	// Send search custom search term to views.py/updateSearchTerm1()
	$.get('/dashboard/updateSearchTerm1', {'NewSearchTerm': search1.value}, function(data) {

      	// Get rid of current plots
      	Plotly.purge(myDiv11);
		Plotly.purge(myDiv12);

		// Plotly interest by region
    	Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1.csv' %}", function(err, rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }

      console.log(rows);

      var data1 = [{
          type: 'choropleth',
          locationmode: 'USA-states',
          locations: unpack(rows, 'code'),
          z: unpack(rows, data['item1']),
          text: unpack(rows, 'index'),
          zmin: 0,
          zmax: 100,
          colorscale: [
              [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
              [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
              [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
          ],
          colorbar: {
              title: 'Relative interest',
              thickness: 1.0
          },
          marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
      }];

      var layout = {
          title: "Google Search interest by subregion, United States, past 12 months: " + data['item1'],
          geo: {
              scope: 'usa',
              showlakes: true,
              lakecolor: 'rgb(255,255,255)'
          }
      };

      Plotly.plot(myDiv11, data1, layout, {showLink: false});
		});

		// Plotly interest over time
		Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1Interest.csv' %}", function(err, rows){

  function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}

console.log(rows);


var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'AAPL High',
  x: unpack(rows, 'date'),
  y: unpack(rows, data['item1']),
  line: {color: '#17BECF'}
}

var data12 = [trace1];

var layout = {
  title: "Google Search interest over past 12 months, United States: " + data['item1'],
};

Plotly.newPlot('myDiv12', data12, layout);
});

		// Update related search terms
		$('#myDiv13').html(data['myDiv13']);

		// Display console message
		$('#console').animate({opacity:0},function(){
        	$(this).text("Results Ready")
            .animate({opacity:1});
		});
	});
});

// Display console messages upon page loading
$('#console').animate({opacity:0},function(){
        $(this).text("Welcome")
            .animate({opacity:1}, 2000, 'swing');
            success:$('#console').animate({opacity:0},function(){
        			$(this).text("To get started, please enter your asset details")
            		.animate({opacity:1}, 2000, 'swing');
					});
});

// As soon as page loads, populate category dropdown list
$.get('/dashboard/populatedropdowns', {}, function(data) {
      	$('#Category').html(data['0']);
});

var locDate = undefined;
// Get data upon selecting data and clicking get results
$('#get_results').click(function() {

		// Clear current plots
		Plotly.purge(myDiv11);
		Plotly.purge(myDiv12);
		// Plotly.purge(myDiv);
    Plotly.purge(myDiv_hist);

		// Get data from user selection
        var IncludeMileage = $('#IncludeMileage').is(":checked");
        var UseTable = $('#UseTable').is(":checked");
        var Cat = $('#Category').val();
        var Duty = $('#Dutytype').val();
        var Make = $('#Make').val();
        var Model = $('#Model').val();
        var Year = $('#Year').val();
        var YearRangeEnd = $('#YearRangeEnd').val();

<!--        console.log(IncludeMileage, Cat, Duty, Make, Model, Year, YearRangeEnd)-->

        // Added by Kyle. During development, if no category is selected hard code some data selection
				if (Cat == ""){
       			var IncludeMileage = true
						var UseTable = false
       			var Cat = "Tractors"
       			var Duty = "Conventional"
       			var Make = "FREIGHTLINER"
       			var Model = "C120 CENTURY CLASS"
       			var Year = ""
        		var YearRangeEnd = ""
				}
    	// Display console message
    	$('#console').animate({opacity:0},function(){
        	$(this).text("Fetching location data from database...")
            .animate({opacity:1});
			});

     	// Send data to views.py/getData()
        $.get('/dashboard/getData', {'IncludeMileage':IncludeMileage,'UseTable':UseTable, 'YearRangeEnd':YearRangeEnd,'Cat': Cat,'Duty': Duty, 'Make': Make, 'Model':Model,'Year':Year}, function(data) {

      	// Check Error string and deal with errors as necessary
      	var Err = data['Error']
      	// Data query too general
      	if(Err == 'TooGeneral'){
      	$('#console').animate({opacity:0},function(){
        	$(this).text("Too much data, please refine your search.")
            .animate({opacity:1});
		});
		return false;
      	};
      	// No data from query
      	if(Err == 'NoData'){
      	$('#console').animate({opacity:0},function(){
        	$(this).text("All Hours/Mileage entries are null valued.. Please unselect the Mileage/hours checkbox")
            .animate({opacity:1});
		});
		return false;
      	};

      	// Update table body with HTML string of all rows of data, as well as the AVG data, and filtered assets paragraph below table
      	$('#TableData').html(data['0']);
      	$('#TableDataAvg').html(data['1']);
      	$('#FilteredAssets').html(data['FilteredAssets']);

      	// Display console message saying the location data is ready, now fetching google trend data
      	$('#console').animate({opacity:0},function(){
        $(this).text("Location Data Ready")
            .animate({opacity:1}, 2000, 'swing');
            success:$('#console').animate({opacity:0},function(){
        			$(this).text("Fetching Google Trend data...")
            		.animate({opacity:1}, 2000, 'swing');
					});
		});

   	 	// Get selected TableDataRankBy value
		var TableDataRankBy = $('#MapDataRankBy').val();

		// Plot map data
    	Plotly.d3.csv("{% static 'dashboard/csv/MapData.csv' %}", function(err, rows){

    function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
    }
    function unpack1(rows, key) {
        return rows.map(function(row) { return [row[''],' ' + row[key]]; });
    }

    //df = pd.read_csv("{% static 'dashboard/csv/MapData.csv' %}")
    //console.log(df.head())

    var scl = [[0,'rgb(128,0,0)'],[0.35,'rgb(178,34,34)'],[0.5,'rgb(205,92,92)'], [0.6,'rgb(255,99,71)'],[0.7,'rgb(255,160,122)'],[1,'rgb(233,150,122)']];

    var data2 = [{
        type:'scattergeo',
        locationmode: 'USA-states',
        lon: unpack(rows, 'long'),
        lat: unpack(rows, 'lat'),
        hoverinfo: "text",
        text: unpack1(rows, TableDataRankBy),
        mode: 'markers',
        marker: {
            size: 20,
            opacity: 0.8,
            reversescale: true,
            autocolorscale: false,
            symbol: 'circle',
            line: {
                width: 1,
                color: 'rgb(255,255,255)'
            },
            colorscale: scl,
            cmin: 0,
            color: unpack(rows, TableDataRankBy),
            colorbar: {
                title: 'Locations ranked by ' + TableDataRankBy
            }
        }
    }];


    var layout = {
        title: 'Asset Selling Locations',
        colorbar: true,
        geo: {
            scope: 'usa',
            projection: {
                type: 'albers usa'
            },
            showland: true,
            landcolor: 'rgb(250,250,250)',
            subunitcolor: 'rgb(217,217,217)',
            countrycolor: 'rgb(217,217,217)',
            countrywidth: 0.5,
            subunitwidth: 0.5
        }
    };

		// getting data required for location map
		$.get('/dashboard/getSliderData', {}, function(data) {
			locDate = data;
			// console.log(data['years_html'])
			$('#mapYear').html(data['years_html']);		// updating map dropdown menu for years
		});

    // Plotly.plot(myDiv, data2, layout, {showLink: false});

});

// activates when changing Year dropdown on location map
$('#mapYear').change(function () {
	year = $('#mapYear').val();

	// remove old slider
	if (timeslider !== undefined) {
		myMap.removeControl(timeslider);
	}

	// getting list of all months in selected year to pass to map slider
	datelist = [];
	for (var i=1; i<=12; i++) {
		if (i<10) {
			datelist.push(year.concat('-0', i.toString()));
		} else {
			datelist.push(year.concat('-', i.toString()));
		}
	}
	// adding new slider
	timeslider = L.control.timelineSlider({
									timelineItems: datelist,
									changeMap: refreshData,
									extraChangeMapParams: {data: locDate},
									position: "bottomleft",
									labelWidth: "55px"})
							.addTo(myMap);
});

$('#highlight_hist').click(function () {
	// storing names of all cities with sales within selected states in clickedCities array
	var locations = locDate.location;
	var clickedCities = [];
	for (var i=0; i< locations.length; i++) {
		stateCode = locations[i].slice(-2);
		if (clickedStates.includes(stateCode) && !clickedCities.includes(locations[i])) {
			clickedCities.push(locations[i]);
		}
	}

	// resetting clickedStates array and map highlighting
	clickedStates = [];
	myMap.eachLayer(function (layer) {
		if (layer.options.color == '#FFD700') {
			geojson.resetStyle(layer);
		}
	});
});

// Histogram Plots

var HistDataRankBy = $('#HistDataRankBy').val();
var HistDataBinSize = $('#HistDataBinSize').val();
makeHist(HistDataRankBy, HistDataBinSize)

		// Get Google Trend data by sending selected data inputs to views.py/getGoogleTrends()
		$.get('/dashboard/getGoogleTrends', {'Cat': Cat,'Duty': Duty, 'Make': Make, 'Model':Model,'Year':Year}, function(trenddata) {

    	// Plotly interest by region plot
    	Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1.csv' %}", function(err, rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }

      var data1 = [{
          type: 'choropleth',
          locationmode: 'USA-states',
          locations: unpack(rows, 'code'),
          z: unpack(rows, trenddata['item1']),
          text: unpack(rows, 'index'),
          zmin: 0,
          zmax: 100,
          colorscale: [
              [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
              [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
              [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
          ],
          colorbar: {
              title: 'Relative interest',
              thickness: 1.0
          },
          marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
      }];


      var layout = {
          title: "Google Search interest by subregion, United States, past 12 months: " + trenddata['item1'],
          geo: {
              scope: 'usa',
              showlakes: true,
              lakecolor: 'rgb(255,255,255)'
          }
      };

      Plotly.plot(myDiv11, data1, layout, {showLink: false});
		});

		// Plotly interest over time plot
		Plotly.d3.csv("{% static 'dashboard/csv/PytrendsTerm1Interest.csv' %}", function(err, rows){

  function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}


var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'AAPL High',
  x: unpack(rows, 'date'),
  y: unpack(rows, trenddata['item1']),
  line: {color: '#17BECF'}
}

var data1 = [trace1];

var layout = {
  title: "Google Search interest over past 12 months, United States: " + trenddata['item1'],
};

Plotly.newPlot('myDiv12', data1, layout);
});

		// Display list of related search terms
		$('#myDiv13').html(trenddata['myDiv13']);

		// Display console message saying Results Ready
    	$('#console').animate({opacity:0},function(){
        	$(this).text("Results Ready")
            .animate({opacity:1});
		});

		});

      	});


// Update the histogram location dropdown menu
// var Category = $('#Category').val();
// var Dutytype = $('#Dutytype').val();
// var Make = $('#Make').val();
// var Model = $('#Model').val();
// var Year = $('#Year').val();


// $.get('/dashboard/populatedropdownsModel', {'Category': Cat,'Dutytype': Duty,'Make': Make,'Model': Model,'Year': Year}, function(data) {
// // $('#Year').html(data['0']);
// // $('#Basket').html(data['1']);
// // $('#YearRangeEnd').html(data['0']);
// $('#HistDataLocations').html(data['0']);
// });


});

// Update table data upon changing sort method
$("#TableDataRankBy").change(function () {
		var TableDataRankBy = $('#TableDataRankBy').val();
		$.get('/dashboard/updatetabledata', {'TableDataRankBy': TableDataRankBy}, function(data) {
      	$('#TableData').html(data['0']);
      	$('#BasketData').html(data['1']);
    	});
});

// Update Map data upon changing sort method
$("#MapDataRankBy").change(function () {
	var TableDataRankBy = $('#MapDataRankBy').val();
	$('#console').animate({opacity:0},function(){
        	$(this).text("Updating Map Data")
            .animate({opacity:1});
		});


    Plotly.d3.csv("{% static 'dashboard/csv/MapData.csv' %}", function(err, rows){

    function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
    }
    function unpack1(rows, key) {
        return rows.map(function(row) { return [row[''],' ' +  row[key]]; });
    }

    //df = pd.read_csv("{% static 'dashboard/csv/MapData.csv' %}")
    //console.log(df.head())

    var scl = [[0,'rgb(128,0,0)'],[0.35,'rgb(178,34,34)'],[0.5,'rgb(205,92,92)'], [0.6,'rgb(255,99,71)'],[0.7,'rgb(255,160,122)'],[1,'rgb(233,150,122)']];

    var data2 = [{
        type:'scattergeo',
        locationmode: 'USA-states',
        lon: unpack(rows, 'long'),
        lat: unpack(rows, 'lat'),
        hoverinfo: "text",
        text: unpack1(rows, TableDataRankBy),
        mode: 'markers',
        marker: {
            size: 20,
            opacity: 0.8,
            reversescale: true,
            autocolorscale: false,
            symbol: 'circle',
            line: {
                width: 1,
                color: 'rgb(255,255,255)'
            },
            colorscale: scl,
            cmin: 0,
            color: unpack(rows, TableDataRankBy),
            colorbar: {
                title: 'Locations ranked by ' + TableDataRankBy
            }
        }
    }];


    var layout = {
        title: 'Asset Selling Locations',
        colorbar: true,
        geo: {
            scope: 'usa',
            projection: {
                type: 'albers usa'
            },
            showland: true,
            landcolor: 'rgb(250,250,250)',
            subunitcolor: 'rgb(217,217,217)',
            countrycolor: 'rgb(217,217,217)',
            countrywidth: 0.5,
            subunitwidth: 0.5
        }
    };

	// Plotly.purge(myDiv);
  // Plotly.plot(myDiv, data2, layout, {showLink: false});

});

});

// Function that defines the histogram view. Called in get_results() and HistDataRankBy.change()
// Next up: call this function with a slider paramater binSize and a list of locations locList
function makeHist(HistDataRankBy, HistDataBinSize){
  if(HistDataRankBy == "box"){
      function linspace(a,b,n) {
        return Plotly.d3.range(n).map(function(i){return a+i*(b-a)/(n-1);});
      }
      var boxNumber = 30;
      var boxColor = [];
      var allColors = linspace(0, 360, boxNumber);
      var data = [];
      var yValues = [];

      //Colors

      for( var i = 0; i < boxNumber;  i++ ){
        var result = 'hsl('+ allColors[i] +',50%'+',50%)';
        boxColor.push(result);
      }

      function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min;
      };

      //Create Y Values

      for( var i = 0; i < boxNumber;  i++ ){
        var ySingleArray = [];
          for( var j = 0; j < 10;  j++ ){
            var randomNum = getRandomArbitrary(0, 1);
            var yIndValue = 3.5*Math.sin(Math.PI * i/boxNumber) + i/boxNumber+(1.5+0.5*Math.cos(Math.PI*i/boxNumber))*randomNum;
            ySingleArray.push(yIndValue);
          }
        yValues.push(ySingleArray);
      }

      //Create Traces

      for( var i = 0; i < boxNumber;  i++ ){
        var result = {
          y: yValues[i],
          type:'box',
          marker:{
            color: boxColor[i]
          }
        };
        data.push(result);
      };

      //Format the layout

      var layout = {
        xaxis: {
          showgrid: false,
          zeroline: false,
          tickangle: 60,
          showticklabels: false
        },
        yaxis: {
          zeroline: false,
          gridcolor: 'white'
        },
        paper_bgcolor: 'rgb(233,233,233)',
        plot_bgcolor: 'rgb(233,233,233)',
        showlegend:false
      };

      Plotly.purge(myDiv_hist);
      Plotly.newPlot('myDiv_hist', data, layout);

  } else {

	Plotly.d3.csv("{% static 'dashboard/csv/HistData.csv' %}", function(err, rows){
    Plotly.d3.csv("{% static 'dashboard/csv/HistData_single_year.csv' %}", function(err, rows_single_year){

	function unpack(rows, key) {
	return rows.map(function(row) { return row[key]; });
	}
	function unpack1(rows, key) {
	return rows.map(function(row) { return [row[''],' ' + row[key]]; });
	}

	//df = pd.read_csv("{% static 'dashboard/csv/MapData.csv' %}")
	//console.log(df.head())

	<!--var scl = [[0,'rgb(128,0,0)'],[0.35,'rgb(178,34,34)'],[0.5,'rgb(205,92,92)'], [0.6,'rgb(255,99,71)'],[0.7,'rgb(255,160,122)'],[1,'rgb(233,150,122)']];-->
	<!---->
	<!--var data2 = [{-->
	<!--type:'scattergeo',-->
	<!--locationmode: 'USA-states',-->
	<!--lon: unpack(rows, 'long'),-->
	<!--lat: unpack(rows, 'lat'),-->
	<!--hoverinfo: "text",-->
	<!--text: unpack1(rows, TableDataRankBy),-->
	<!--mode: 'markers',-->
	<!--marker: {-->
	<!--size: 20,-->
	<!--opacity: 0.8,-->
	<!--reversescale: true,-->
	<!--autocolorscale: false,-->
	<!--symbol: 'circle',-->
	<!--line: {-->
	<!--width: 1,-->
	<!--color: 'rgb(255,255,255)'-->
	<!--},-->
	<!--colorscale: scl,-->
	<!--cmin: 0,-->
	<!--color: unpack(rows, TableDataRankBy),-->
	<!--colorbar: {-->
	<!--title: 'Locations ranked by ' + TableDataRankBy-->
	<!--}-->
	<!--}-->
	<!--}];-->
	<!---->
	<!---->
	<!--var layout = {-->
	<!--title: 'Asset Selling Locations',-->
	<!--colorbar: true,-->
	<!--geo: {-->
	<!--scope: 'usa',-->
	<!--projection: {-->
	<!--type: 'albers usa'-->
	<!--},-->
	<!--showland: true,-->
	<!--landcolor: 'rgb(250,250,250)',-->
	<!--subunitcolor: 'rgb(217,217,217)',-->
	<!--countrycolor: 'rgb(217,217,217)',-->
	<!--countrywidth: 0.5,-->
	<!--subunitwidth: 0.5-->
	<!--}-->
	<!--};-->

	<!--Plotly.plot(myDiv_hist, data2, layout, {showLink: false});-->

	// var x = [];
	// for (var i = 0; i < 500; i ++) {
	// x[i] = Math.random();
	// }

	<!--Milliseconds that make one bin per day. If you want one bin per year do dailyBins*365-->
	// HistDataBinSize is a multiplier that the user selects to make the bins wider or smaller
	var dailyBins = 86400000.0

	var trace = {
	histfunc: HistDataRankBy,
	x: unpack(rows, 'SaleDate'),
	y: unpack(rows, 'SalesPrice'),
	<!--x: x,-->
	type: 'histogram',
	autobinx: false,
	xbins: {
	<!--end: 4,-->
	<!--size: 4980000000000000-->
	size: dailyBins*HistDataBinSize
	<!--size: 0.01-->
	<!--start: -3.2-->
	}

  };

  var trace_single_year = {
  histfunc: HistDataRankBy,
  x: unpack(rows_single_year, 'SaleDate'),
  y: unpack(rows_single_year, 'SalesPrice'),
  <!--x: x,-->
  type: 'histogram',
  autobinx: false,
  xbins: {
  <!--end: 4,-->
  <!--size: 4980000000000000-->
  size: dailyBins*HistDataBinSize
  <!--size: 0.01-->
  <!--start: -3.2-->
  }

	};

	var data = [trace, trace_single_year];
  var layout = {
    barmode: "overlay",
    showlegend: false
  }

	<!--Plotly.newPlot('myDiv_hist', data);-->
	Plotly.purge(myDiv_hist);
	Plotly.plot(myDiv_hist, data, layout);

	});
  });
};
	return 0;
}


// Added by Kyle:
// Update Hist data upon changing sort method or bin size

// $("#HistDataRankBy").change(function () {
// var HistDataRankBy = $('#HistDataRankBy').val();
// var HistDataBinSize = $('#HistDataBinSize').val();
// 	$('#console').animate({opacity:0},function(){
// 	$(this).text("Updating Hist Data")
// 	.animate({opacity:1});
// 	});

// makeHist(HistDataRankBy, HistDataBinSize);

// });


// $("#HistDataBinSize").change(function () {
// var HistDataBinSize = $('#HistDataBinSize').val();
// var HistDataRankBy = $('#HistDataRankBy').val();
// 	$('#console').animate({opacity:0},function(){
// 	$(this).text("Updating Hist Data")
// 	.animate({opacity:1});
// 	});

// makeHist(HistDataRankBy, HistDataBinSize);

// });

// Update hist data to highlight a specific year and filter by location by changing the csv file
$("#HistDataHighlightYear").change(function () {
    // var HistDataBinSize = $('#HistDataBinSize').val();
    // var HistDataRankBy = $('#HistDataRankBy').val();
    var HistDataLocations = $('#HistDataLocations').val();
    var HistDataHighlightYear = $('#HistDataHighlightYear').val();
    $('#console').animate({opacity:0},function(){
    $(this).text("Please pause while csv updates")
    .animate({opacity:1});
    });
    $.get('/dashboard/update_hist_data', {'highlight_year': HistDataHighlightYear, 'HistDataLocations': HistDataLocations}, function() {
        // $('#TableData').html(data['0']);
        // $('#BasketData').html(data['1']);
        // $('#hi').html(data['0']);

    // function show_popup(){
    //   $('#console').animate({opacity:0},function(){
    //   $(this).text("Waiting for csv")
    //   .animate({opacity:1});
    // });
    // };
    // window.setTimeout( show_popup, 5000 );
    });

    // makeHist(HistDataRankBy, HistDataBinSize);
    $('#console').animate({opacity:0},function(){
    $(this).text("Done")
    .animate({opacity:1});
    });
});

// Update the csv files when HistDataLocations are changed
$("#HistDataLocations").change(function () {
    var HistDataLocations = $('#HistDataLocations').val();
    var HistDataHighlightYear = $('#HistDataHighlightYear').val();
    $('#console').animate({opacity:0},function(){
    $(this).text("Please pause while csv updates")
    .animate({opacity:1});
    });
        $.get('/dashboard/update_hist_data', {'highlight_year': HistDataHighlightYear, 'HistDataLocations': HistDataLocations}, function(data) {
      });
        $('#console').animate({opacity:0},function(){
    $(this).text("Done")
    .animate({opacity:1});
    });
  });


// Update hist data to highlight a specific year by changing the csv file
// Don't have to update the highlight year if its not used
$("#hist_go").click(function () {
    var HistDataBinSize = $('#HistDataBinSize').val();
    var HistDataRankBy = $('#HistDataRankBy').val();
    // var HistDataHighlightYear = $('#HistDataHighlightYear').val();
    $('#console').animate({opacity:0},function(){
    $(this).text("Highlighting year")
    .animate({opacity:1});
    });
    // $.get('/dashboard/update_hist_data', {'highlight_year': HistDataHighlightYear}, function() {
    //     // $('#TableData').html(data['0']);
    //     // $('#BasketData').html(data['1']);
    //     // $('#hi').html(data['0']);

    // // function show_popup(){
    // //   $('#console').animate({opacity:0},function(){
    // //   $(this).text("Waiting for csv")
    // //   .animate({opacity:1});
    // // });
    // // };
    // // window.setTimeout( show_popup, 5000 );
    // });

    makeHist(HistDataRankBy, HistDataBinSize);
    $('#console').animate({opacity:0},function(){
    $(this).text("Done")
    .animate({opacity:1});
    });
});



// Populate dutytype dropdown list upon selecting a category
$("#Category").change(function () {
		var Category = $('#Category').val();
		var Dutytype = $('#Dutytype').val();
		var Make = $('#Make').val();
		var Model = $('#Model').val();
		var Year = $('#Year').val();
		if(TableDataRankBy != "Select Category"){

        $.get('/dashboard/populatedropdownsCat', {'Category': Category,'Dutytype': Dutytype,'Make': Make,'Model': Model,'Year': Year}, function(data) {
      	$('#Dutytype').html(data['0']);
      	$('#Make').html("");
      	$('#Model').html("");
      	$('#Year').html("");
      	$('#YearRangeEnd').html("");
    	});
    	};
    });

// Populate Makes, Models, and Years dropdown lists upon selecting a dutytype
$("#Dutytype").change(function () {
		$('#console').animate({opacity:0},function(){
        		$(this).text("Loading Makes, Models, and Years...")
            .animate({opacity:1});
			});
		var Category = $('#Category').val();
		var Dutytype = $('#Dutytype').val();
		var Make = $('#Make').val();
		var Model = $('#Model').val();
		var Year = $('#Year').val();
		if(TableDataRankBy != "Select Dutytype"){

        $.get('/dashboard/populatedropdownsDuty', {'Category': Category,'Dutytype': Dutytype,'Make': Make,'Model': Model,'Year': Year}, function(data) {
      	$('#Make').html(data['0']);
      	$('#Model').html(data['1']);
      	$('#Year').html(data['2']);
      	$('#YearRangeEnd').html(data['2']);
  		$('#console').animate({opacity:0},function(){
        	$(this).text("Ready to Get Results")
            .animate({opacity:1});
			});
    	});
    	};
    });

// Populate Models and Years dropdown lists upon selecting a Make
$("#Make").change(function () {
		var Category = $('#Category').val();
		var Dutytype = $('#Dutytype').val();
		var Make = $('#Make').val();
		var Model = $('#Model').val();
		var Year = $('#Year').val();
		if(TableDataRankBy != "Select Make"){

        $.get('/dashboard/populatedropdownsMake', {'Category': Category,'Dutytype': Dutytype,'Make': Make,'Model': Model,'Year': Year}, function(data) {
      	$('#Model').html(data['0']);
      	$('#Year').html(data['1']);
      	$('#YearRangeEnd').html(data['1']);
      	$('#Basket').html(data['2']);
    	});
    	};
    });

// Populate Years dropdown list upon selecting a Model
$("#Model").change(function () {
		var Category = $('#Category').val();
		var Dutytype = $('#Dutytype').val();
		var Make = $('#Make').val();
		var Model = $('#Model').val();
		var Year = $('#Year').val();
		if(TableDataRankBy != "Select Model"){

        $.get('/dashboard/populatedropdownsModel', {'Category': Category,'Dutytype': Dutytype,'Make': Make,'Model': Model,'Year': Year}, function(data) {
      	$('#Year').html(data['0']);
      	$('#Basket').html(data['1']);
      	$('#YearRangeEnd').html(data['0']);

        // $('#HistDataLocations').html(data['0']);
    	});
    	};
    });
});
</script>

<style>
body {
padding-top: 70px;
background-color: white !important;

}

tbody {
    display:block;
    height:200px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.vl {
    border-left: 1px solid white;
    height: 50px;
    position: fixed;
    left: 250px;
    top: 0;
}
.hl {
    border-bottom: 250px solid white;
    height: 1px;
    left: 0px;
    top: 50px;
    z-index: 1000;
}

/* Wells Fargo colour pallet */
.Teal{
	color: #0095C8 !important;
}
.DarkTeal{
	color: #00698C !important;
}
.Green{
	color: #46A033 !important;
}
.DarkGreen{
	color: #007337 !important;
}
.Orange{
	color: #ED8800 !important;
}
.DarkOrange{
	color: #CE4C00 !important;
}
.Plum{
	color: #702F8A !important;
}
.DarkPlum{
	color: #4D3B65 !important;
}
.Magenta{
	color: #AE2573 !important;
}
.DarkMagenta{
	color: #821861 !important;
}
.Ebony{
	color: #7A6855 !important;
}
.DarkEbony{
	color: #574537 !important;
}
.CoolGrayDark{
	color: #44464A !important;
}
.Black{
	color: #000000 !important;
}
.CoolGrayLight{
	color: #D9D9D6 !important;
}
.CoolGrayMedium{
	color: #BFC0BE !important;
}

</style>

</head>

<body>

<!-- Console (nav) bar-->
<nav class="navbar navbar-inverse navbar-fixed-top" style="border-bottom: 1px solid white;">
	<p style="margin:auto;position: fixed;color: white;left: 20px;font-size: 20px;padding-top: 10px;">Remarketing Dashboard</p>
    <div class="vl"></div>
    <p id="console" style="margin:auto;color: white;text-align:center;font-size: 20px;padding-top: 10px;padding-left: 250px;"></p>
</nav>

<!-- Data Entry -->
<div class="sidenav">
    <div class="row" style="padding: 10px;">
      <div class="col-lg-12">
        <h2 class="Teal">Selection<br><p class="CoolGrayLight" style="font-size: 15px;">Enter your asset details</p></h2>
      </div>
    </div>
    <div class="col" style="padding: 10px;">
      <div class="row-sm-2 Teal">Category: <select id="Category" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Dutytype: <select id="Dutytype" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Make: <select id="Make" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Model: <select id="Model" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Year: <select id="Year" class="dropdown-select"></select></div><br>
      <div class="row-sm-2 Teal">Year Range (Optional)<br>To: <select id="YearRangeEnd" class="dropdown-select"></select></div><br><br>
      <div class="row-sm-2 Teal"><p style="color:white">Data must include:</p>
      	<input checked id="IncludeMileage" type="checkbox" name="Hours" value="Hours"> Mileage/hours<br><br>
        <p style="color:white">Select if you want to update the table (can be slow):</p>
        <input checked id="UseTable" type="checkbox" name="QuickMode" value="QuickMode"> Update Table<br>
      </div>
    </div>
    <div class="row" style="padding: 10px;">
      <div class="col-lg-12">
        <button type="button" id="get_results" style="background-color:#0095C8 !important;color:white;" class="btn btn-lg btn-block">Get Results</button>
      </div>
    </div>
</div>

<!-- main page layout -->
<div class="main">
	<!-- main page additional wrapper -->
	<div style="width: 100% !important;background-color: white !important;padding: 0 20px 0 20px !important;">



<!-- Location Data Table -->
<h2 class="Plum" >Location Data Table<br><p class="CoolGrayDark" style="font-size: 15px;"></p></h2>
<div class="row">

      <div class="col-lg-12">
        <div style="border-color:#702F8A !important;color:black;" class="panel">
          <div style="background-color: #702F8A; color:white" class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Based on all past sales, determine which location is optimal for selling your assets.
          <div class="pull-right">
          	<div class="btn-group">

                <select style="color: blue" id="TableDataRankBy" class="dropdown-select">
                	<option value="AvgPrice">Sort by Average Price</option>
  					<option value="TotalRev">Sort by Total Revenue</option>
  					<option value="AvgMil">Sort by Average Mileage</option>
  					<option value="AvgAge">Sort by Average Age</option>
  					<option value="HighSale">Sort by Highest Sale</option>
  					<option value="LowSale">Sort by Lowest Sale</option>
  					<option value="SoldAssets">Sort by Sold Assets</option>
				</select>
              </div>
          </div>
          </div>
          <div class="panel-body">
            <div class="table-responsive" style="display: inline-block;overflow-y: scroll;max-height:400px;">
            <table class="table table-hover" id="MyTableData">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Total Revenue ($)</th>
      <th scope="col">Avg Price ($)</th>
      <th scope="col">Avg Mileage or Hours</th>
      <th scope="col">Avg Age (years)</th>
      <th scope="col">Highest Sale Price, Month ($)</th>
      <th scope="col">Lowest Sale Price ($)</th>
      <th scope="col">Assets Sold</th>
    </tr>
    <tr id="TableDataAvg" ></tr>
  </thead>
  <tbody id="TableData">
  </tbody>
</table>
			</div>
          </div>
        </div>
      </div>
    </div>

<!-- Filtered assets text -->
<p id="FilteredAssets" style="text-align:center;margin: 0 auto;"></p>

<!-- Location Map View -->
<h2 class="Magenta" >Location Data Map View<br><p class="CoolGrayDark" style="font-size: 15px;"></p></h2>
<div class="row">
	<div class="col-lg-12">
    	<div style="border-color:#AE2573 !important;color:black;" class="panel">
        	<div style="background-color: #AE2573; color:white" class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Visualize the above location data
        	<div class="pull-right">
          	<!-- <div class="btn-group">
                <select style="color: blue" id="MapDataRankBy" class="dropdown-select">
                	<option value="AvgPrice">Sort by Average Price</option>
  					<option value="TotalRev">Sort by Total Revenue</option>
  					<option value="AvgMil">Sort by Average Mileage</option>
  					<option value="AvgAge">Sort by Average Age</option>
  					<option value="HighSale">Sort by Highest Sale</option>
  					<option value="LowSale">Sort by Lowest Sale</option>
  					<option value="SoldAssets">Sort by Sold Assets</option>
				</select>
            </div> -->
					<div class="btn-group">Year: <select id="mapYear" class="dropdown-select Black"></select></div>
          </div>
        	</div>
        <div class="panel-body">
        <!-- <div id="myDiv"></div> -->
				<div id="LMap" style="width: 700px; height: 400px"></div>
				<div class="pull-left">
					<button class="button" id="highlight_hist">Highlight Selected States in Histogram</button>
				</div>
		</div>
    </div>
</div>
</div>

<!-- Histogram -->

<h2 class="Blue" >Visualization of asset over time in locations selected by the map <br><p class="CoolGrayDark" style="font-size: 15px;"></p></h2>
<div class="row">
<div class="col-lg-12">
<div style="border-color:#334CFF !important;color:black;" class="panel">
<div style="background-color: #334CFF; color:white" class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Select your location(s), bin size, and type of histogram

<div class="pull-right">
<style>
.button {
  background-color: #e7e7e7;
  border: none;
  color: #334CFF;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /*margin: 4px 2px;*/
  cursor: pointer;
}
</style>
<button class="button" id="hist_go">Go!</button>
</div>

<div class="pull-right">
<div class="btn-group">
<select style="color: blue" id="HistDataRankBy" class="dropdown-select">
<option value="avg">Average Price</option>
<option value="sum">Total Revenue</option>
<option value="count">Number of Sales</option>
<option value="max">Max Value</option>
<option value="min">Min Value</option>
<option value="box">Box and Whisker</option>
</select>
</div>
</div>

<div class="pull-right">
<div class="btn-group">
<select style="color: blue" id="HistDataBinSize" class="dropdown-select">
<option value="1">Daily</option>
<option value="7">Weekly</option>
<option value="14">Two Weeks</option>
<option value="28">One Month</option>
<option value="365">Yearly</option>
</select>
</div>
</div>

<div class="pull-right">
<div class="btn-group">
<select style="color: blue" id="HistDataHighlightYear" class="dropdown-select">
<option value="None">All Years</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
</select>
</div>
</div>

<div class="pull-right">
<div class="btn-group">
<select style="color: blue" id="HistDataLocations" class="dropdown-select">
<option value="None">All Locations</option>
<option value="TEXAS">TEXAS</option>
<option value="SOUTH SIOUX CITY NE">SOUTH SIOUX CITY NE</option>
</select>
</div>
</div>

</div>
<div class="panel-body">
	<div id="myDiv_hist"></div>
</div>
</div>
</div>
</div>


<!-- Google Search Trends -->
<h2 class="Orange" >Google Search Trends<br><p class="CoolGrayDark" style="font-size: 15px;"></p></h2>
<div class="row">
	<div class="col-lg-12">
    	<div style="border-color:#ED8800 !important;color:black;" class="panel">
        	<div style="background-color: #ED8800; color:white" class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> Pick and choose an appropriate Google search term to understand the appetite for assets in each state, and over time</div>
        <div class="panel-body">
        <div id="myDiv11"></div>
        <div id="myDiv12"></div>
        <div id="myDiv13" style="text-align:center" class="btn-group" role="group"></div>
        <br>
        <br>
        <div style="text-align:center;">
    		<input type="search" id="search1" placeholder="Custom search"/>
    		<button id="search1btn" class="btn primary">Update search term</button>
		</div>
		</div>
    </div>
</div>
</div>






	</div>
</div>


<!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.36.0/js/timeline-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- code for location data map, down here because it must be underneath map's <div> element  -->
<script type="text/javascript">
var myMap = L.map("LMap").setView([37.8, -96], 4);

// adding map visual
L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
	attribution:
		'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(myMap);

// geoJSON of states is passed here on startup, uses style/onEachFeature functions from top of file
var statesData = {{ us_states | safe }};
var geojson;
geojson = L.geoJson(statesData, {style: style, onEachFeature: onEachFeature}).addTo(myMap);

</script>

</body>

</html>
